<!--extention base-->
{% extends 'shop/base.html' %}

<!--page title-->
{% block title %}Shop | Mintari {% endblock %}

{% block body %}

{% load static %}
<div id="qodef-page-outer">

    <!-- START: SECTION Header Breadcrumb -->
    <div class="qodef-page-title qodef-m qodef-title--standard-with-breadcrumbs qodef-alignment--left qodef-vertical-alignment--header-bottom">
        <div class="qodef-m-inner">
            <div class="qodef-m-content qodef-content-grid ">
                <div class="qodef-m-content-title-area">
                    <h1 class="qodef-m-title entry-title">Reset Password </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- STOP: SECTION Header Breadcrumb -->

    <div class="qodef-content-grid" id="qodef-page-inner">
        <main class="qodef-grid qodef-layout--template qodef--no-bottom-space " id="qodef-page-content">
            <div class="qodef-grid-inner clear">
                <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
                    <div class="elementor elementor-12" data-elementor-id="12" data-elementor-type="wp-page">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">

                                <section class="elementor-section elementor-top-section elementor-element elementor-element-b27481a elementor-section-full_width elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-element_type="section" data-id="b27481a" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0c5a679" data-element_type="column" data-id="0c5a679">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-8f51149 elementor-widget elementor-widget-spacer" data-element_type="widget" data-id="8f51149" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="elementor-section elementor-top-section elementor-element elementor-element-3dce8e2b elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="3dce8e2b" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a6baa55" data-element_type="column" data-id="a6baa55">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-23a617b2 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="23a617b2" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">

                                                                    <div class="woocommerce">
                                                                        <div class="woocommerce-notices-wrapper">
                                                                            {% for message in  messages %}
                                                                                {% if 'success' in message.tags %}
                                                                                    <div class="woocommerce-message" role="alert" style="color:green;">
                                                                                        <a class="button wc-forward" href="{% url 'accounts:signin' %}" tabindex="1">Login</a>
                                                                                            {{ message }}
                                                                                    </div>
                                                                                {% elif 'error' in message.tags %}
                                                                                    <div class="woocommerce-message" role="alert" style="color:red;">
                                                                                        <a class="button wc-forward" href="{% url 'accounts:signup' %}" tabindex="1">SignUp</a>
                                                                                            {{ message }}
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>


                                                                        <form class="woocommerce-ResetPassword lost_reset_password" method="post" action="{% url 'accounts:reset_password' %}" {{ hidden_tag }}>
                                                                            {% csrf_token %}
                                                                            <p>Lost your password? Please enter your
                                                                                Email Address. You will
                                                                                receive a link to create a new
                                                                                password via email.</p>
                                                                            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                                                                <label for="user_login">Email</label>
                                                                                <input autocomplete="username" class="woocommerce-Input woocommerce-Input--text input-text" id="user_login" name="email" type="email" required/>
                                                                            </p>
                                                                            <div class="clear"></div>
                                                                            <p class="woocommerce-form-row form-row">
                                                                                <input name="wc_reset_password" type="hidden" value="true"/>
                                                                                <button name="submit" class="woocommerce-Button button" type="submit" value="ResetPassword">
                                                                                    Reset password
                                                                                </button>
                                                                            </p>
                                                                            <input id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" type="hidden" value="d399b0e029"/><input name="_wp_http_referer" type="hidden" value="/my-account/lost-password/"/>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



{% endblock %}