<!--extention base-->
{% extends 'shop/base.html' %}

<!--page title-->
{% block title %}Cart | Mintari {% endblock %}

{% block body %}

{% load static %}
<div id="qodef-page-outer">
        <div class="qodef-page-title qodef-m qodef-title--standard-with-breadcrumbs qodef-alignment--left qodef-vertical-alignment--header-bottom">
            <div class="qodef-m-inner">
                <div class="qodef-m-content qodef-content-grid ">
                    <div class="qodef-m-content-title-area">
                        <h1 class="qodef-m-title entry-title">Cart </h1>
                    </div>
                    <div class="qodef-breadcrumbs" itemprop="breadcrumb">
                        <a class="qodef-breadcrumbs-link" href="{% url 'shop:shop_index' %}" itemprop="url">
                            <span itemprop="title">Shop</span>
                        </a>
                        <span class="qodef-breadcrumbs-separator">

                        </span><span class="qodef-breadcrumbs-current" itemprop="title">Cart</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="qodef-content-grid" id="qodef-page-inner">
            <main class="qodef-grid qodef-layout--template qodef--no-bottom-space " id="qodef-page-content">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
                        <div class="elementor elementor-10" data-elementor-id="10" data-elementor-type="wp-page">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">


                                    {% if cart_append %}

                                        <section class="elementor-section elementor-top-section elementor-element elementor-element-6e33a094 elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-id="6e33a094" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">

                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1e00fdea" data-id="1e00fdea" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-238ef7a5 elementor-widget elementor-widget-text-editor" data-id="238ef7a5" data-element_type="widget" data-widget_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <!-- wp:shortcode --><div class="woocommerce"><div id="qodef-woo-page" class="qodef--cart"><div class="woocommerce-notices-wrapper"></div>
                                                                            <form class="woocommerce-cart-form" action="https://umea.qodeinteractive.com/cart/" method="post">

                                                                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="product-remove"><span class="screen-reader-text">Remove item</span></th>
                                                                                            <th class="product-thumbnail"><span class="screen-reader-text">Thumbnail image</span></th>
                                                                                            <th class="product-name">Product</th>
                                                                                            <th class="product-price">Base Price</th>
        <!--                                                                                    <th class="product-quantity">Quantity</th>-->
                                                                                            <th class="product-subtotal">Subtotal</th>
                                                                                        </tr>
                                                                                                                                                                    </thead>

                                                                                    <tbody>
                                                                                    {% for data in  cart_append %}

                                                                                        <tr class="woocommerce-cart-form__cart-item cart_item">
                                                                                            <td class="product-remove">
                                                                                                <a href="{% url 'shop:cart_remove' data.ProductCode %}" class="remove" aria-label="Remove this item" data-product_id="35" data-product_sku="001">×</a>
                                                                                            </td>

                                                                                            <td class="product-thumbnail">
                                                                                                <a href="{% url 'shop:product' data.ProductCode %}">
                                                                                                    <img width="600" height="600" src="{{ data.ProductImageLeftView.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="a" loading="lazy" srcset="{{ data.ProductImageLeftView.url }} 600w, {{ data.ProductImageLeftView.url }} 300w, {{ data.ProductImageLeftView.url }} 150w, {{ data.ProductImageLeftView.url }} 768w, {{ data.ProductImageLeftView.url }} 650w, {{ data.ProductImageLeftView.url }} 100w, {{ data.ProductImageLeftView.url }} 800w" sizes="(max-width: 600px) 100vw, 600px">
                                                                                                </a>
                                                                                            </td>

                                                                                            <td class="product-name" data-title="Product">
                                                                                                <a href="{% url 'shop:product' data.ProductCode %}">{{ data.ProductTitle }}</a>
                                                                                            </td>

                                                                                            <td class="product-price" data-title="Price">
                                                                                                {% load humanize %}
                                                                                                <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Ksh </span>{{ data.ProductPrice|intcomma }}</bdi></span>
                                                                                            </td>

                                                                                            <td class="product-subtotal" data-title="Subtotal">
                                                                                                <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Ksh </span>{{ data.ProductPrice|intcomma }}</bdi></span>
                                                                                            </td>
                                                                                        </tr>

                                                                                    {% endfor %}

                                                                                        <tr></tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </form>


                                                                            <div class="cart-collaterals">
                                                                                <div class="cart_totals ">
                                                                                    <h2>Cart totals</h2>

                                                                                    <table cellspacing="0" class="shop_table shop_table_responsive">

                                                                                        <tbody><tr class="cart-subtotal">
                                                                                            <th>Subtotal</th>
                                                                                            <td data-title="Subtotal"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Ksh </span> {{ subtotal|intcomma }}</bdi></span></td>
                                                                                        </tr>

                                                                                        <tr class="order-total">
                                                                                            <th>Total with 16% V.A.T</th>
                                                                                            <td data-title="Total"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Ksh </span> {{ withvat }}</bdi></span></> </td>
                                                                                        </tr>
                                                                                        </tbody></table>

                                                                                    <div class="wc-proceed-to-checkout">

                                                                                        <a href="{% url 'shop:checkout' %}" class="checkout-button button alt wc-forward">
                                                                                            Proceed to checkout</a>
                                                                                    </div>


                                                                                </div>
                                                                            </div>

                                                                        </div></div><!-- /wp:shortcode -->					</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    {% else %}



                                        <section class="elementor-section elementor-top-section elementor-element elementor-element-6e33a094 elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="6e33a094">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1e00fdea" data-element_type="column" data-id="1e00fdea">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-238ef7a5 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="238ef7a5" data-widget_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <div class="woocommerce">
                                                                                <div class="woocommerce-notices-wrapper"></div>
                                                                                <p class="cart-empty woocommerce-info">
                                                                                    Your cart is currently empty.</p>
                                                                                <p class="return-to-shop">
                                                                                    <a class="button wc-backward" href="{% url 'shop:shop_index' %}">
                                                                                        Return to shop
                                                                                    </a>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>



{% endblock %}