<!--extention base-->
{% extends 'shop/base.html' %}

<!--page title-->
{% block title %}Shop | Mintari {% endblock %}

{% block body %}

{% load static %}
<div id="qodef-page-outer">
    <div class="qodef-page-title qodef-m qodef-title--standard qodef-alignment--left qodef-vertical-alignment--header-bottom qodef--has-image">
        <div class="qodef-m-inner">
            <div class="qodef-m-content qodef-content-grid ">
                <h1 class="qodef-m-title entry-title">Customized Order </h1>
            </div>
        </div>
    </div>

    <div class="qodef-content-grid" id="qodef-page-inner">
        <main class="qodef-grid qodef-layout--template qodef--no-bottom-space " id="qodef-page-content">
            <div class="qodef-grid-inner clear">
                <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
                    <div class="elementor elementor-11" data-elementor-id="11" data-elementor-type="wp-page">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-section elementor-top-section elementor-element elementor-element-469f2428 elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="469f2428">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b673531"
                                                 data-element_type="column" data-id="b673531">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-2343bd3f elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="2343bd3f" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">

                                                                    <div class="woocommerce">
                                                                        <div class="woocommerce-notices-wrapper"></div>
                                                                        <div class="qodef--checkout" id="qodef-woo-page">

                                                                            <div class="woocommerce-notices-wrapper">
                                                                                {% for message in  messages %}
                                                                                    {% if 'info' in message.tags %}
                                                                                        <div class="woocommerce-message" role="alert">
                                                                                                {{ message }}
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>

                                                                            <form action="{% url 'shop:custom_order' %}" class="checkout woocommerce-checkout" enctype="multipart/form-data" method="post" name="checkout" novalidate="novalidate">
                                                                                {% csrf_token %}

                                                                                <div class="col2-set" id="customer_details">
                                                                                    <div class="col-1">
                                                                                        <div class="woocommerce-billing-fields">
                                                                                            <h3>Order details</h3>
                                                                                            <div class="woocommerce-billing-fields__field-wrapper">

                                                                                                <p class="form-row form-row-first validate-required" data-priority="10" id="furniture_type_field">
                                                                                                    <label class="" for="billing_first_name">Furniture Type&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="given-name" class="input-text " id="furniture_type" name="furniture_type" placeholder="eg. dining table, sofa etc" type="text" value="">
                                                                                                    </span>
                                                                                                </p>

                                                                                                <p class="form-row form-row-first validate-required" data-priority="10" id="estimate_dimensions_field">
                                                                                                    <label class="" for="billing_first_name">Estimated dimensions (optional)</label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="given-name" class="input-text " id="estimate_dimensions" name="estimated_dimensions" placeholder="length x width x height" type="text" value="">
                                                                                                    </span>
                                                                                                </p>

                                                                                                <p class="form-row notes" data-priority="" id="order_comments_field">
                                                                                                    <label class="" for="order_comments">Order notes&nbsp;<span class="optional">(optional)</span></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <textarea class="input-text " cols="5" id="order_comments" name="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2"></textarea>
                                                                                                    </span>
                                                                                                </p>

                                                                                                <div class="input-area">
                                                                                                    <label class="form-label">Select Sample Image</label>
                                                                                                    <div class="filePreview">
                                                                                                        <label>
                                                                                                            <input name="sample_image" type="file" class=" w-full hidden" accept=".jpg, .jpeg, .png" required>
                                                                                                            <span class="w-full h-[40px] file-control flex items-center custom-class">
                                                                                                                <span class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap">
                                                                                                                    <span class="text-slate-400">Choose the main product image...</span>
                                                                                                                </span>
                                                                                                                <span class="file-name flex-none cursor-pointer border-l px-4 border-slate-200 dark:border-slate-700 h-full inline-flex items-center bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400 text-sm rounded-tr rounded-br font-normal">Browse</span>
                                                                                                            </span>
                                                                                                        </label>
                                                                                                        <div id="file-preview"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <br/>


                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-2">
                                                                                        <div class="woocommerce-shipping-fields">

                                                                                            <h3>Client details</h3>


                                                                                                <p class="form-row form-row-first validate-required" data-priority="10" id="billing_first_name_field">
                                                                                                    <label class="" for="billing_first_name">First name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="given-name" class="input-text " id="billing_first_name" name="client_first_name" placeholder="" type="text" value="">
                                                                                                    </span>
                                                                                                </p>

                                                                                                <p class="form-row form-row-last validate-required" data-priority="20" id="billing_last_name_field">
                                                                                                    <label class="" for="billing_last_name">Last name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="family-name" class="input-text " id="billing_last_name" name="client_last_name" placeholder="" type="text" value="">
                                                                                                    </span>
                                                                                                </p>

                                                                                                <p class="form-row form-row-wide validate-required validate-phone" data-priority="100" id="billing_phone_field">
                                                                                                    <label class="" for="billing_phone">Phone&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="tel" class="input-text " id="billing_phone" name="client_phone" placeholder="" type="number" value="">
                                                                                                    </span>
                                                                                                </p>

                                                                                                <p class="form-row form-row-wide validate-required validate-email" data-priority="110" id="billing_email_field">
                                                                                                    <label class="" for="billing_email">Email address&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                                    <span class="woocommerce-input-wrapper">
                                                                                                        <input required autocomplete="email username" class="input-text " id="billing_email" name="client_email" placeholder="" type="email" value="">
                                                                                                    </span>
                                                                                                </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <button name="submit" class="button alt" data-value="Place order" id="place_order" type="submit" value="Place_order">Place order</button>


                                                                            </form>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


{% endblock %}