{% load static %}
<!--START: SECTION - footer -->
<footer id="qodef-page-footer">
    <div id="qodef-page-footer-top-area">
        <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid">
            <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--4 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1 qodef-gutter--normal">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item">
                        <div id="media_image-2" class="widget widget_media_image" data-area="footer_top_area_column_1">
                            <a href="{% url 'landing:index' %}">
                            <img width="100" height="25" src="{% static 'assets/images/Branding/Mintari_Dark_Logo_Name.png' %}" class="image wp-image-6073  attachment-47x17 size-47x17" alt="x" loading="lazy" style="max-width: 100%; height: auto;"/></a>
                        </div>
                        <div id="umea_core_separator-5" class="widget widget_umea_core_separator" data-area="footer_top_area_column_1">
                            <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                                <div class="qodef-m-line" style="border-color: #ffffff;border-style: solid;width: 1px;border-bottom-width: 1px;margin-top: 13px;margin-bottom: 0px"></div>
                            </div>
                        </div>
                        <div id="text-3" class="widget widget_text" data-area="footer_top_area_column_1">
                            <div class="textwidget">
                                <p style="margin-right: 14%;">Welcome to a place of refinement and beauty. This is Mintari Kenya.
                                <br><br>
                                We are top-notch sofa makers and wooden products specialists.
                                </p>
                            </div>
                        </div>
                        <div id="umea_core_separator-6" class="widget widget_umea_core_separator" data-area="footer_top_area_column_1">
                            <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                                <div class="qodef-m-line" style="border-color: #ffffff;border-style: solid;width: 1px;border-bottom-width: 1px;margin-top: 17px;margin-bottom: 0px"></div></div>
                        </div>
                        <div id="custom_html-3" class="widget_text widget widget_custom_html" data-area="footer_top_area_column_1">
                            <div class="textwidget custom-html-widget">
                                <a href="https://www.facebook.com/MintariKE/" target="_blank" rel="noopener"><h6 style="font-size:14px;display: inline;margin-right: 2.2%;">FB.</h6></a>
                                <a href="https://twitter.com/mintarikenya" target="_blank" rel="noopener"><h6 style="font-size:14px;display: inline;margin-right: 2.2%;">TW.</h6></a>
                                <a href="https://www.instagram.com/mintarikenya/" target="_blank" rel="noopener"><h6 style="font-size:14px;display: inline;margin-right: 2.2%;">IN.</h6></a>
                            </div>
                        </div>
                    </div>

                    <!-- footer studio column -->
                    <div class="qodef-grid-item">
                        <div id="text-6" class="widget widget_text" data-area="footer_top_area_column_2">
                            <div class="textwidget"><h5 style="margin:-3px 0px 17px 0px;">Studio</h5>
                            </div>
                        </div>
                        <div id="nav_menu-3" class="widget widget_nav_menu" data-area="footer_top_area_column_2">
                            <div class="menu-studio-container">
                                <ul id="menu-studio" class="menu">
                                    <li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-120">
                                        <a href="">Visit our Store</a>
                                    </li>
                                    <li id="menu-item-121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121">
                                        <a href="">About Us</a>
                                    </li>
                                    <li id="menu-item-122" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-122">
                                        <a href="">Our Blog</a>
                                    </li>
                                    <li id="menu-item-123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-123">
                                        <a href="">Craftsmanship</a>
                                    </li>
                                    <li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                                        <a href="">Apply For a Job</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- footer shopping column -->
                    <div class="qodef-grid-item">
                        <div id="text-7" class="widget widget_text" data-area="footer_top_area_column_3">
                            <div class="textwidget"><h5 style="margin:-3px 0px 17px 0px;">Shopping</h5></div>
                        </div>
                        <div id="nav_menu-4" class="widget widget_nav_menu" data-area="footer_top_area_column_3">
                            <div class="menu-shopping-container">
                                <ul id="menu-shopping" class="menu">
                                    <li id="menu-item-125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-125">
                                        <a href="">Online Payments</a>
                                    </li>
                                    <li id="menu-item-126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126">
                                        <a href="">Gift Cards</a>
                                    </li>
                                    <li id="menu-item-127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127">
                                        <a href="">Return Policy</a>
                                    </li>
                                    <li id="menu-item-128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-128">
                                        <a href="">Furniture Assembling</a>
                                    </li>
                                    <li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129">
                                        <a href="o">Shipping Methods</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- footer payment methods column -->
                    <div class="qodef-grid-item">
                        <div id="text-4" class="widget widget_text" data-area="footer_top_area_column_4">
                            <div class="textwidget"><h5 style="margin: -3px 0px 17px 0px;">Payment Methods</h5>
                                <p>Select one of many supported payment providers from the list below.</p>
                            </div>
                        </div>
                        <div id="umea_core_separator-7" class="widget widget_umea_core_separator" data-area="footer_top_area_column_4">
                            <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                                <div class="qodef-m-line" style="border-color: #ffffff;border-style: solid;width: 1px;border-bottom-width: 1px;margin-top: 32px;margin-bottom: 0px"></div>
                            </div>
                        </div>
                        <div id="custom_html-2" class="widget_text widget widget_custom_html" data-area="footer_top_area_column_4">
                            <div class="textwidget custom-html-widget"><img src="{% static 'assets/wp-content/uploads/2021/03/footer-logo-group.png' %}" alt="footer icon 1" width="289" height="31"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- shameless pluck -->
    <div id="qodef-page-footer-bottom-area">
        <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
            <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item">
                        <div id="text-5" class="widget widget_text" data-area="footer_bottom_area_column_1">
                            <div class="textwidget"><p style="text-align: center;">© 2023 <a href="" target="_blank" rel="noopener">Arbspiper Tech</a>, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!--END: SECTION - footer -->