<!--extention base-->
{% extends 'portal/base.html' %}
{% load static %}
<!--page title-->
{% block title %}Add Stock | Mintari {% endblock %}

{% block body %}

<div class="content-wrapper transition-all duration-150 xl:ltr:ml-[248px] xl:rtl:mr-[248px]" id="content_wrapper">
    <div class="page-content">
        <div id="content_layout">

            <!-- BEGIN: Breadcrumb -->
            <div class="mb-5">
                <ul class="m-0 p-0 list-none">
                    <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
                        <a href="{% url 'portal:portal_index' %}">
                            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
                            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
                        </a>
                    </li>
                    <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
                        Add Stock
                    </li>
                </ul>
            </div>
            <!-- END: BreadCrumb -->

            <div class="space-y-6">

                <div class="card xl:col-span-2">
                    <div class="card-body flex flex-col p-6">
                        <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                            <div class="flex-1">
                                <div class="card-title text-slate-900 dark:text-white">Add Product</div>
                            </div>
                        </header>

                        {% for message in  messages %}
                            {% if 'success' in message.tags %}
                                <div class="py-[18px] px-6 font-normal text-sm rounded-md bg-white text-success-500 border border-success-500 dark:bg-slate-800">
                                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                                        <iconify-icon class="text-2xl flex-0" icon="system-uicons:target"></iconify-icon>
                                        <p class="flex-1 font-Inter">
                                            {{ message }}
                                        </p>
                                        <div class="flex-0 text-xl cursor-pointer">
                                            <iconify-icon icon="line-md:close"></iconify-icon>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="card-text h-full ">

                            <form class="space-y-4" action="{% url 'portal:add_stock' %}" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
                                    <div class="input-area relative">
                                        <label for="ProductTitle" class="form-label">Product Title</label>
                                        <input name="ProductTitle" id="ProductTitle" type="text" class="form-control" placeholder="Enter Product Title" maxlength="50" required>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="ProductSKU" class="form-label">Product SKU</label>
                                        <input name="ProductSKU" id="ProductSKU" type="text" class="form-control" placeholder="Enter Product SKU" maxlength="50" required>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="ProductCategory" class="form-label">Product Category</label>
                                        <select name="ProductCategory" id="ProductCategory" class="form-control">
                                            {% for data in CategoriesTable %}
                                                <option value="{{ data.category }}" class="dark:bg-slate-700">{{ data.category }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="ProductWeight" class="form-label">Product Weight</label>
                                        <div class="relative" id="ProductWeight">
                                            <input name="ProductWeight" type="number" class="form-control !pl-12" placeholder="Enter Product Weight" maxlength="10" required>
                                            <span class="absolute left-0 top-1/2 -translate-y-1/2 w-9 h-full border-r border-r-slate-200 dark:border-r-slate-700 flex items-center justify-center">Kg </span>
                                        </div>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="ProductDimension" class="form-label">Product Dimension</label>
                                        <input name="ProductDimension" id="ProductDimension" type="text" class="form-control" placeholder="Product Dimension" maxlength="100" required>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="BasePrice" class="form-label">Product Base Price</label>
                                        <div class="relative" id="BasePrice">
                                            <input name="BasePrice" type="number" class="form-control !pl-12" placeholder="Enter Product Base Price" maxlength="50" required>
                                            <span class="absolute left-0 top-1/2 -translate-y-1/2 w-9 h-full border-r border-r-slate-200 dark:border-r-slate-700 flex items-center justify-center">Ksh </span>
                                        </div>
                                    </div>

                                    <!-- product description -->
                                    <div class="input-area relative">
                                        <label for="DetailedDescription" class="form-label">Product Description</label>
                                        <textarea name="DetailedDescription" id="DetailedDescription" class="form-control" rows="5" placeholder="Detailed Description" maxlength="500" required></textarea>
                                    </div>

                                    <!-- Main Product image -->
                                    <div class="input-area">
                                        <label class="form-label">Select Main Product Image</label>
                                        <div class="filePreview">
                                            <label>
                                                <input name="MainImage" type="file" class=" w-full hidden" accept=".jpg, .jpeg, .png" required>
                                                <span class="w-full h-[40px] file-control flex items-center custom-class">
                                                    <span class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap">
                                                        <span class="text-slate-400">Choose the main product image...</span>
                                                    </span>
                                                    <span class="file-name flex-none cursor-pointer border-l px-4 border-slate-200 dark:border-slate-700 h-full inline-flex items-center bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400 text-sm rounded-tr rounded-br font-normal">Browse</span>
                                                </span>
                                            </label>
                                            <div id="file-preview"></div>
                                        </div>
                                    </div>

                                    <!-- Top view image -->
                                    <div class="input-area">
                                        <label class="form-label">Select Top View Product Image</label>
                                        <div class="topView_filePreview">
                                            <label>
                                                <input name="ProductImageTopView" type="file" class=" w-full hidden" accept=".jpg, .jpeg, .png" required>
                                                <span class="w-full h-[40px] file-control flex items-center custom-class">
                                                    <span class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap">
                                                        <span class="text-slate-400">Choose the top view image of the product...</span>
                                                    </span>
                                                    <span class="file-name flex-none cursor-pointer border-l px-4 border-slate-200 dark:border-slate-700 h-full inline-flex items-center bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400 text-sm rounded-tr rounded-br font-normal">Browse</span>
                                                </span>
                                            </label>
                                            <div id="topView-file-preview"></div>
                                        </div>
                                    </div>

                                    <!-- Side view image -->
                                    <div class="input-area">
                                        <label class="form-label">Select Side View Product Image</label>
                                        <div class="leftView_filePreview">
                                            <label>
                                                <input name="ProductImageLeftView" type="file" class=" w-full hidden" accept=".jpg, .jpeg, .png" required>
                                                <span class="w-full h-[40px] file-control flex items-center custom-class">
                                                    <span class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap">
                                                        <span class="text-slate-400">Choose the Side view image of the product...</span>
                                                    </span>
                                                    <span class="file-name flex-none cursor-pointer border-l px-4 border-slate-200 dark:border-slate-700 h-full inline-flex items-center bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400 text-sm rounded-tr rounded-br font-normal">Browse</span>
                                                </span>
                                            </label>
                                            <div id="leftView-file-preview"></div>
                                        </div>
                                    </div>

                                    <!-- Front view image -->
                                    <div class="input-area">
                                        <label class="form-label">Select Front View Product Image</label>
                                        <div class="frontView_filePreview">
                                            <label>
                                                <input name="ProductImageFrontView" type="file" class=" w-full hidden" accept=".jpg, .jpeg, .png" required>
                                                <span class="w-full h-[40px] file-control flex items-center custom-class">
                                                    <span class="flex-1 overflow-hidden text-ellipsis whitespace-nowrap">
                                                        <span class="text-slate-400">Choose the front view image of the product...</span>
                                                    </span>
                                                    <span class="file-name flex-none cursor-pointer border-l px-4 border-slate-200 dark:border-slate-700 h-full inline-flex items-center bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400 text-sm rounded-tr rounded-br font-normal">Browse</span>
                                                </span>
                                            </label>
                                            <div id="frontView-file-preview"></div>
                                        </div>
                                    </div>

                                </div>

                                <button name="submit" type="submit" value="AddStock" class="btn inline-flex justify-center btn-dark">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}