<!--extention base-->
{% extends 'portal/base.html' %}
{% load static %}
<!--page title-->
{% block title %}Shop | Mintari {% endblock %}

{% block body %}
<div class="content-wrapper transition-all duration-150 xl:ltr:ml-[248px] xl:rtl:mr-[248px]" id="content_wrapper">
    <div class="page-content">
        <div id="content_layout">


            <!-- BEGIN: Breadcrumb -->
            <div class="mb-5">
                <ul class="m-0 p-0 list-none">
                    <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
                        <a href="{% url 'portal:portal_index' %}">
                            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
                            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
                        </a>
                    </li>
                    <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
                        Manage Stock
                    </li>
                </ul>
            </div>
            <!-- END: BreadCrumb -->


            <div class=" space-y-5">
                <div class="card">
                    <header class=" card-header noborder">
                        <h4 class="card-title">Manage Stock
                        </h4>
                    </header>
                    <div class="card-body px-6 pb-6">
                        <div class="overflow-x-auto -mx-6 dashcode-data-table">
                            <span class=" col-span-8  hidden"></span>
                            <span class="  col-span-4 hidden"></span>
                            <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden ">
                                    <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700 data-table">
                                        <thead class=" bg-slate-200 dark:bg-slate-700">
                                        <tr>

                                            <th scope="col" class=" table-th ">
                                                Id
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                SKU
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Product Title
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Product Category
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Product Weight
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Amount
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Action
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                                        {% for data in StockTable %}

                                            <tr>
                                                <td class="table-td">1</td>
                                                <td class="table-td ">{{ data.ProductCode }}</td>
                                                <td class="table-td">{{ data.ProductTitle }}</td>
                                                <td class="table-td ">{{ data.ProductCategory }}</td>
                                                <td class="table-td "><div>{{ data.ProductWeight }} Kg</div></td>
                                                <td class="table-td ">Ksh {{ data.ProductPrice }}</td>
                                                <td class="table-td ">
                                                    <div class="flex space-x-3 rtl:space-x-reverse">
                                                        <button class="action-btn" type="button">
                                                            <iconify-icon icon="heroicons:pencil-square"></iconify-icon>
                                                        </button>
                                                        <button class="action-btn" type="button">
                                                            <iconify-icon icon="heroicons:trash"></iconify-icon>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}