<!--extention base-->
{% extends 'portal/base.html' %}
{% load static %}
<!--page title-->
{% block title %}Shop | Mintari {% endblock %}

{% block body %}
<div class="content-wrapper transition-all duration-150 xl:ltr:ml-[248px] xl:rtl:mr-[248px]" id="content_wrapper">
    <div class="page-content">
        <div id="content_layout">


            <!-- BEGIN: Breadcrumb -->
            <div class="mb-5">
                <ul class="m-0 p-0 list-none">
                    <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
                        <a href="{% url 'portal:portal_index' %}">
                            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
                            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
                        </a>
                    </li>
                    <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
                        Manage Orders
                    </li>
                </ul>
            </div>
            <!-- END: BreadCrumb -->


            <div class=" space-y-5">
                <div class="card">
                    <header class=" card-header noborder">
                        <h4 class="card-title">Manage Orders
                        </h4>
                    </header>
                    <div class="card-body px-6 pb-6">
                        <div class="overflow-x-auto -mx-6 dashcode-data-table">
                            <span class=" col-span-8  hidden"></span>
                            <span class="  col-span-4 hidden"></span>
                            <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden ">
                                    <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700 data-table">
                                        <thead class=" bg-slate-200 dark:bg-slate-700">

                                        <tr>

                                            <th scope="col" class=" table-th ">
                                                ODR
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                CLIENT NAME
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Email
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Phone Number
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Product Title
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Deposit Status
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Paid Amount
                                            </th>

                                            <th scope="col" class=" table-th ">
                                                Action
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                                        {% for data in RecordsTable %}

                                            <tr>
                                                <td class="table-td">OD#0{{ data.OrderNumber }}</td>
                                                <td class="table-td ">{{ data.FirstName }} {{ data.LastName }}</td>
                                                <td class="table-td "> {{ data.Email }}</td>
                                                <td class="table-td "> (0){{ data.Phone }}</td>
                                                <td class="table-td">
                                                    <span class="flex">
                                                        <span class="w-7 h-7 rounded-full ltr:mr-3 rtl:ml-3 flex-none">
                                                            <img src="assets/images/all-img/customer_1.png" alt="1" class="object-cover w-full h-full rounded-full">
                                                        </span>
                                                        <span class="text-sm text-slate-600 dark:text-slate-300 capitalize">{{ data.ProductTitle }}</span>
                                                    </span>
                                                </td>
                                                <td class="table-td ">

                                                    {% if data.DepositPaid > 0 %}
                                                    <div class="inline-block px-3 min-w-[90px] text-center mx-auto py-1 rounded-[999px] bg-opacity-25 text-success-500 bg-success-500">
                                                        paid
                                                    </div>
                                                    {% else %}
                                                    <div class="inline-block px-3 min-w-[90px] text-center mx-auto py-1 rounded-[999px] bg-opacity-25 text-warning-500 bg-warning-500">-->
                                                        due
                                                    </div>
                                                    {% endif %}

                                                </td>
                                                <td class="table-td "> Ksh {{ data.DepositPaid }} </td>
                                                <td class="table-td ">
                                                    <div class="flex space-x-3 rtl:space-x-reverse">
                                                        <button class="action-btn" type="button">
                                                            <iconify-icon
                                                                    icon="heroicons:pencil-square"></iconify-icon>
                                                        </button>
                                                        <button class="action-btn" type="button">
                                                            <iconify-icon icon="heroicons:trash"></iconify-icon>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}