<!--extention base-->
{% extends 'portal/base.html' %}
{% load static %}
<!--page title-->
{% block title %}Record Order | Mintari {% endblock %}

{% block body %}
<div class="content-wrapper transition-all duration-150 xl:ltr:ml-[248px] xl:rtl:mr-[248px]" id="content_wrapper">
    <div class="page-content">
        <div id="content_layout">

            <!-- BEGIN: Breadcrumb -->
            <div class="mb-5">
                <ul class="m-0 p-0 list-none">
                    <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
                        <a href="{% url 'portal:portal_index' %}">
                            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
                            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
                        </a>
                    </li>
                    <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
                        Record Orders
                    </li>
                </ul>
            </div>

            <!-- END: BreadCrumb -->
            <div class="grid xl:grid-cols-2 grid-cols-1 gap-6">
                <div class="card xl:col-span-2">
                    <div class="card-body flex flex-col p-6">
                        <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                            <div class="flex-1">
                                <div class="card-title text-slate-900 dark:text-white">Record Order</div>
                            </div>
                        </header>

                        {% for message in  messages %}
                            {% if 'success' in message.tags %}
                                <div class="py-[18px] px-6 font-normal text-sm rounded-md bg-white text-success-500 border border-success-500 dark:bg-slate-800">
                                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                                        <iconify-icon class="text-2xl flex-0" icon="system-uicons:target"></iconify-icon>
                                        <p class="flex-1 font-Inter">
                                            {{ message }}
                                        </p>
                                        <div class="flex-0 text-xl cursor-pointer">
                                            <iconify-icon icon="line-md:close"></iconify-icon>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="card-text h-full ">
                            <form class="space-y-4" action="{% url 'portal:record_order' %}" method="POST">
                                {% csrf_token %}
                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">First Name</label>
                                        <input name='FirstName' type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Last Name</label>
                                        <input name='LastName' type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Email</label>
                                        <input name="Email" type="email" class="form-control" placeholder="Enter Your Email">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Phone</label>
                                        <input name="PhoneNumber" type="number" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Stock Title</label>
                                        <select name="ProductTitle" id="ProductCategory" class="form-control">
                                            {% for data in StockTable %}
                                                <option value="{{ data.ProductTitle }}" class="dark:bg-slate-700">{{ data.ProductTitle }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Deposit Paid</label>
                                        <input name="DepositPaid" type="text" class="form-control" placeholder="Deposit Paid">
                                    </div>
                                </div>
                                <button name="submit" type="submit" class="btn inline-flex justify-center btn-dark" value="RecordOrder">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}