<!--extention base-->
{% extends 'portal/accounts_base.html' %}
{% load static %}
<!--page title-->
{% block title %}Sign In | Mintari {% endblock %}

{% block body %}
<div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
    <div class="auth-box-3">
        <div class="mobile-logo text-center mb-6 lg:hidden block">
            <a href="{% url 'landing:index' %}">
                <img  width="100" height="50"  src="{% static 'assets/images/Branding/mintari_full_black_detailed.png' %}" alt="" class="mb-10 dark_logo" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
            </a>
        </div>
        <div class="text-center 2xl:mb-10 mb-5">
            <h4 class="font-medium">Sign In</h4>
            <div class="text-slate-500 dark:text-slate-400 text-base">
                Sign in to your Mintari Account
            </div>
        </div>

        <!-- BEGIN: Feedback Messages -->
        {% for message in  messages %}
            {% if 'success' in message.tags %}
                <div class="py-[18px] px-6 font-normal text-sm rounded-md bg-white text-success-500 border border-success-500 dark:bg-slate-800">
                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                        <iconify-icon class="text-2xl flex-0" icon="system-uicons:target"></iconify-icon>
                        <p class="flex-1 font-Inter">
                            {{ message }}
                        </p>
                        <div class="flex-0 text-xl cursor-pointer">
                            <iconify-icon icon="line-md:close"></iconify-icon>
                        </div>
                    </div>
                </div>
            {% elif 'error' in message.tags %}
                <div class="py-[18px] px-6 font-normal text-sm rounded-md bg-white text-danger-500 border border-danger-500 dark:bg-slate-800">
                    <div class="flex items-center space-x-3 rtl:space-x-reverse">
                        <iconify-icon class="text-2xl flex-0" icon="system-uicons:target"></iconify-icon>
                        <p class="flex-1 font-Inter">
                            {{ message }}
                        </p>
                        <div class="flex-0 text-xl cursor-pointer">
                            <iconify-icon icon="line-md:close"></iconify-icon>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- END: Feedback Messages -->

        <!-- BEGIN: Login Form -->
        <form id="multipleValidation" class="space-y-4" action="{% url 'accounts:signin' %}" method="post">
            {% csrf_token %}
            <div class="fromGroup">
                <label class="block capitalize form-label">Phone Number</label>
                <div class="relative ">
                    <input name="phone_number" type="number"  class="form-control py-2" placeholder="Enter you phone number">
                </div>
            </div>
            <div class="fromGroup">
                <label class="block capitalize form-label">password</label>
                <div class="relative ">
                    <input type="password" name="password" class="  form-control py-2" placeholder="Enter you password">
                </div>
            </div>

            <div class="flex justify-between">
                <div class="checkbox-area">
                    <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" class="hidden" name="checkbox">
                        <span class="h-4 w-4 border flex-none border-slate-100 dark:border-slate-800 rounded inline-flex ltr:mr-3 rtl:ml-3 relative transition-all duration-150 bg-slate-100 dark:bg-slate-900">
                            <img src="{% static 'assets/images/icon/ck-white.svg' %}" alt="" class="h-[10px] w-[10px] block m-auto opacity-0">
                        </span>
                        <span class="text-slate-500 dark:text-slate-400 text-sm leading-6">Keep me signed in</span>
                    </label>
                </div>
                <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium" href="{% url 'accounts:reset_password' %}">Forgot Password?</a>
            </div>
            <button name="submit" type="submit" class="btn btn-dark block w-full text-center" value="log_in">Sign In</button>
        </form>

        <div class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-6 uppercase text-sm text-center">
            Not registered?
            <a href="{% url 'accounts:signup' %}" class="text-slate-900 dark:text-white font-medium hover:underline">
                Sign Up
            </a>
        </div>
    </div>
</div>

{% endblock %}